{{outlet}}
<label>Title:</label>
{{input value=model.title}}
<label>System:</label>
{{input value=model.system}}
<label>Image:</label>
{{input value=model.image}}
<button {{action create}}>Create</button>
