{{input value=model.title}}
{{input value=model.system}}
{{input value=model.image}}
<img src={{model.image}} />
<button {{action save}}>Save</button>
<button {{action delete}}>Delete</button>
{{#link-to 'games'}}Back{{/link-to}}
